{
    "arrowParens": "always",
    "bracketSameLine": false,
    "bracketSpacing": true,
    "embeddedLanguageFormatting": "auto",
    "endOfLine": "lf",
    "htmlWhitespaceSensitivity": "css",
    "printWidth": 80,
    "proseWrap": "preserve",
    "singleQuote": true,
    "trailingComma": "all",
    "quoteProps": "as-needed",
    "semi": false,
    "tabWidth": 4
}
